/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-datepicker
 */

@import "bootstrap";

body {
  background-color: #F5F5F5;
}

p {
  font-family: 'Lato', sans-serif;
  color: #282623;
}

.navbar {
  padding: 0rem;
  color: #334ACC;
  font-family: 'Comfortaa', cursive;
}

.navbar li {
  color: #334ACC;
  text-align: right;
}

.navbar h1 a {
  color: #334ACC;
  text-decoration: none;
}

a {
  color: #000;

  &:visited {
    color: #212121;
  }

  &:hover {
    color: #334ACC;
  }
}

.prompt {
  color: #334ACC;
}
